* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #1d1716;
   
}
.container{
    display:flex;
    flex-direction:column;
}
.movie-card {
    height: 70vh;
    width: 20vw;
    flex: 0 0 auto;
    margin: 10vh 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      
    background-color: #222831;
    transition: box-shadow 0.3s ease-in;
}

    .movie-card:hover {
  
        border: 1px solid #F7F7FF;
        box-shadow: rgba(99, 99, 99, 0.5) 0px 20px 20px 0px;
    }
.cards-container {
    display: flex;
    margin-bottom: 10vh;
    overflow-x: auto;
    align-items: start;
    margin-top: 10vh;
}
    /* For Webkit-based browsers (Chrome, Safari, newer versions of Opera) */
    .cards-container::-webkit-scrollbar {
        display:none;
    }

   




.poster{
    
    height:70%;
    width:100%;
  
}

.movieName {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.summary {
    
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top:6px;
    
}

@media only screen and (max-width: 768px) and (min-width:600px) {
    .movie-card {
        height: 70vh;
        width: 40vw;
        flex: 0 0 auto;
        margin: 10vh 2rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background-color: #222831;
        transition: box-shadow 0.3s ease-in;
    }

        .movie-card:hover {
            border: 1px solid #F7F7FF;
            box-shadow: rgba(99, 99, 99, 0.5) 0px 20px 20px 0px;
        }
    .cards-container {
        display: flex;
        margin-bottom: 10vh;
        overflow-x: auto;
        margin-top: 10vh;
    }
    .poster {
        height: 70%;
        width: 100%;
       
    }

    .movieName {
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .summary {
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-top: 10vh;
    }
}


@media only screen and (min-width:768px) and (max-width:992px) {
    .movie-card {
        height: 70vh;
        width: 90vw;
        flex: 0 0 auto;
        margin: 10vh 2rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background-color: #222831;
        transition: box-shadow 0.3s ease-in;
    }

        .movie-card:hover {
            border: 1px solid #F7F7FF;
            box-shadow: rgba(99, 99, 99, 0.5) 0px 20px 20px 0px;
        }

    .cards-container {
        display: flex;
        margin-bottom: 10vh;
        overflow-x: auto;
        margin-top: 10vh;
    }

    .poster {
        height: 70%;
        width: 100%;
    }

    .movieName {
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .summary {
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-top: 10vh;
    }
    /* For Webkit-based browsers (Chrome, Safari, newer versions of Opera) */
    .cards-container::-webkit-scrollbar {
        display: none;
    }

   

}

@media only screen and (max-width:600px) and (min-width:200px){
    .movie-card {
        height: 60vh;
        width: 90vw;
        flex: 0 0 auto;
        margin: 10vh 5vw;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background-color: #222831;
        transition: box-shadow 0.3s ease-in;
    }

        .movie-card:hover {
            border: 1px solid #F7F7FF;
            box-shadow: rgba(99, 99, 99, 0.5) 0px 20px 20px 0px;
        }

    .cards-container {
        display: flex;
        margin-bottom: 10vh;
        overflow-x: auto;
        margin-top: 10vh;
    }

    .poster {
        height: 70%;
        width: 100%;
    }

.movieName {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.summary {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 6px;
}
    /* For Webkit-based browsers (Chrome, Safari, newer versions of Opera) */
    .cards-container::-webkit-scrollbar {
        display: none;
    }

   
}